
#eclipse
.cproject
.project

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.x86
*.x64
*.arm

#Eclipse setting
.settings

#Visual Studio Code setting
.metadata/
.vscode
.settings

#gdb debugger
.gdb_history
.gdb_*

#direcory
build-*

VideoEngine/*.pro.user

EquinoxLogger/Build/CMakeCache.txt
EquinoxLogger/Build/CMakeFiles/
EquinoxLogger/Build/Makefile
EquinoxLogger/Build/cmake_install.cmake
EquinoxLogger/Build/*.a

UnitTests/Build/CMakeCache.txt
UnitTests/Build/CMakeFiles/
UnitTests/Build/Makefile
UnitTests/Build/cmake_install.cmake
UnitTests/Build/*.log

